[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w \
    lock 'hyprlock' \
    timeout 600 'loginctl lock-session' \
    timeout 601 'niri msg action power-off-monitors' \
    before-sleep 'hyprlock'

[Install]
WantedBy=graphical-session.target
